<!-- start preloader -->
<div class="preloader">
  <div class="sk-spinner sk-spinner-wave">

  </div>
</div>
<!-- end preloader -->

<!-- start header -->
<app-header></app-header>
<!-- end header -->

<!-- start navigation -->
<nav class="navbar navbar-default templatemo-nav" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        LOGO
      </button>

      <a href="#" class="navbar-brand logo">  </a>
      <a href="#" class="navbar-brand"></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#top">ACCUEIL</a></li>
        <li><a href="#about">FORMATION </a></li>
        <li><a href="#team">NOTRE EQUIPE</a></li>
        <li><a href="#service">SERVICE</a></li>
        <li><a href="#">TARIF</a></li>
        <li><a href="#contact">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- end navigation -->

<!-- start home -->
<section id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-10">
        <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s"> <span>KINGA DIGITAL</span>	  </h1>
        <h1 class="wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s"> Centre de recherche avancée en Informatique	  </h1>

        <div class="element">
          <div class="sub-element">Union des jeunnes innovateurs malgaches  sur le développement Numérique </div>
          <div class="sub-element">Nouvelle startup numerique en 2022  </div>
          <div class="sub-element">La nouvelle défit numerique</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end home -->

<!-- start about -->

<div class="content homepage" id="menu-1">

  <section id="about" class="formation">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"> <span>KINGA</span> FORMATIONS</h2>

        </div>




        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.6s">
          <div class="media">
            <div class="media-heading-wrapper">
              <div class="media-object pull-left">
                <i class="fa fa-mobile"></i>
              </div>
              <h3 class="media-heading">FORMATION UNIVERSITAIRE</h3>
            </div>
            <div class="media-body">
              <p>Formation universitaire avec des valeur scientifique </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-offset="50" data-wow-delay="0.9s">
          <div class="media">
            <div class="media-heading-wrapper">
              <div class="media-object pull-left">
                <i class="fa fa-comment-o"></i>
              </div>
              <h3 class="media-heading">FORMATION MODULAIRE</h3>
            </div>
            <div class="media-body">
              <p> Formation pour enrichier de competence </p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
          <div class="media">
            <div class="media-heading-wrapper">
              <div class="media-object pull-left">
                <i class="fa fa-html5"></i>
              </div>
              <h3 class="media-heading">FORMATION TECHNIQUE</h3>
            </div>
            <div class="media-body">
              <p> Formation specifique pour les logiciel </p>
            </div>
          </div>
        </div>

      </div>
      <!-- team start -->
      <div class="content team row" id="">
        <div class="col-md-5 col-sm-8 col-xs-12 wow fadeIn row team-wrapper" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="">
            <div class="col-md-5">
              <div class="parcours dev">


              </div>

            </div>
            <div class="col-md-6">


              <div class="team-des">
                <h4>Developpement Informatique</h4>
                <span>Developer</span>
                <p>Formation des dévéloppement informatique, conseption des base de données et développement de logiciel, développement des application web , application mobile,</p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-5 col-sm-8 col-xs-12 wow fadeIn row team-wrapper" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="col-md-5">
            <div class="parcours ia">


            </div>
          </div>
          <div class="col-md-6">
            <div class="">

              <div class="team-des">
                <h4>Inteligence artificiel</h4>
                <span>Developer</span>
                <p>Lorem ipsum dolor sit amet,sit amet,sit amet,sit amet,sit amet,sit amet, consectetur adipiscing elitquisque tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-sm-8 col-xs-12 wow fadeIn row team-wrapper" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="col-md-5">
            <div class="parcours reseau"></div>
          </div>
          <div class="col-md-6">
            <div class="">

              <div class="team-des">
                <h4>Réseau onformatique</h4>
                <span>Developer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elitquisqueddd   tempus ac eget diam et laoreet phasellus ut nisi id leo molest.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-8 col-xs-12 wow fadeIn row team-wrapper" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="col-md-5">
            <div class="parcours cloud"></div>

          </div>
          <div class="col-md-6">
            <div class="">

              <div class="team-des">
                <h4>Cloud computing </h4>
                <span>Developer</span>
                <p>Cette formation se consacre sur la téchnologie Coud computing ou informatique dans le nuage.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-8 col-xs-12 wow fadeIn row team-wrapper" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="col-md-6">
            <div class="parcours web-designer"></div>

          </div>
          <div class="col-md-5">
            <div class="">

              <div class="team-des">
                <h4>Web designer </h4>
                <span></span>
              </div>
            </div>
          </div >
          <div class="col-md-12">
            <p>Formation sur le conseption et réalisation des disigne sur des site web, avec les technologie, CMS, Wold press , Bootstrap , .</p>



          </div>
        </div>
        <div class="col-md-5 col-sm-8 col-xs-12 wow fadeIn row team-wrapper" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="col-md-5">
            <div class="parcours robotique"></div>

          </div>

          <div class="col-md-6">
            <div class="">

              <div class="team-des">
                <h4>Robotique</h4>
                <span></span>
                <p>Formation des commende sur l'informatique ..., commende mecanique, eclectro, mecanique  .</p>
              </div>
            </div>
          </div>
        </div>


        <!--team end-->
      </div>
      <!--START POLYGONE -->


      <!-- POLYGONE -->
      <div class="col-md-12">
        <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"> <span></span> </h2>

      </div>
    </div>
  </section>
  <!-- end about -->

  <!-- start team -->
  <section id="team">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>KINGA</span> EQUIPES	</h2>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
          <div class="team-wrapper">
            <img src="/assets/images/equipe/toky.png" class="img-responsive" alt="team img 1">
            <div class="team-des">
              <h4>Andry TOKINIAINA</h4>
              <span>Ingénieur Télécom /Dévéloppeur  </span>
              <p>Ingenieur en Télécommunication sortant de l'ecole superieur polytechnique d'Antananarivo. Il est programmeur du <a href="https://www.reseausdn.com"> réseau SDN.</a> </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="team-wrapper">
            <img src="/assets/images/equipe/herinjaka.png" class="img-responsive" alt="team img 2">
            <div class="team-des">
              <h4>Herinjaka RAOELISON</h4>
              <span>Ingénieur Télécom </span>
              <p>Ingénieur en télécommunication sortant de l'ecole superieur polytechnique d'Antananarivo. Il est spécialiser en BIG Data </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.3s">
          <div class="team-wrapper">
            <img src="/assets/images/equipe/kanto.png" class="img-responsive" alt="team img 3">
            <div class="team-des">
              <h4>Kanto RALAMBOMANANA</h4>
              <span>Ingenieur en GENIE ELECRTIQUE</span>
              <p> Ingenieur en Génie Electrique sortant de l'Ecole Superieur Polytechnique d'Antananarivo. Il est spécialiser sur le Robotique Industriele</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="team-wrapper">
            <img src="/assets/images/equipe/nicola.png" class="img-responsive" alt="team img 4">
            <div class="team-des">
              <h4>Nicola RATOMPOARISOA</h4>
              <span>Etuciant en Télécom</span>
              <p>Edutiant M2 en télécommunication de l'Ecole Superieur Polytechnique d'Antananarivo. Il specialise sur la securité du réseau mobile LTE, . Il est la formateur de la Securité Informatique a <a> KINGA</a> </p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="team-wrapper">
            <img src="/assets/images/equipe/tiavina.png" class="img-responsive" alt="team img 4">
            <div class="team-des">
              <h4>Tiavina RASOLOMANANA</h4>
              <span>Résponsable en Inteligence Artificiel</span>
              <p>Ingénieur en Télécommunication sortant de l'Ecole Superieur Polytechnique d'Antananarivo.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="team-wrapper">
            <img src="/assets/images/equipe/nirina.png" class="img-responsive" alt="team img 4">
            <div class="team-des">
              <h4>Nirina RAMANGASON </h4>
              <span>Formateur en Réseau Et Systèm Informatique </span>
              <p>Réseau Optique .</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="50" data-wow-delay="1.6s">
          <div class="team-wrapper">
            <img src="/assets/images/equipe/tina.png" class="img-responsive" alt="team img 4">
            <div class="team-des">
              <h4>Tina ANDRIANTSEHENO</h4>
              <span>Résponsable Commerciale </span>
              <p>Elle suivie la Formation en Développement d'Entreprise a l'INSCAM Ankadifotsy .</p>
              <p>Etudiante a M2 a marcketing a PARIS .</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- end team -->

  <!-- start service -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>KINGA</span> SERVICES </h2>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
          <i class="fa fa-laptop"></i>
          <h4>Application web</h4>
          <p>Nous réalison des platforme ou des application en ligne</p>
        </div>
        <div class="col-md-4  wow fadeIn" data-wow-offset="50" data-wow-delay="0.9s">
          <i class="fa fa-cloud"></i>
          <h4>Maintenence des application existant</h4>
          <p>Nous avons réalisées la maintenence des applications existants .</p>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
          <i class="fa fa-cog"></i>
          <h4>Conseption et developpement d'application sur mesure</h4>
          <p>Nous réaliser des application sur mesure pour faciliter l'activite de votre entreprise .</p>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
          <i class="fa fa-cog"></i>
          <h4>Conseption de site vitrine</h4>
          <p>Nous réalison des site vitrine ou des sites internetes afin d'avoir montrer et publier sur internet votre activité.</p>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
          <i class="fa fa-cog"></i>
          <h4>System d'asservicement Industriele </h4>
          <p>Nous réalison des projets Electro-mecaniques, commander ou assister par ordinateur </p>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
          <i class="fa fa-cog"></i>
          <h4>Machine learning et deep learning </h4>
          <p>Nous réalistion dans le dommaine de recherche, la conseption et réalisation des projéts liées aux inteligénce artificiel .</p>
        </div>
        <div class="col-md-4 wow fadeIn" data-wow-offset="50" data-wow-delay="0.6s">
          <i class="fa fa-cog"></i>
          <h4>Conseption des pieces d'identification Digital</h4>
          <p>Réalistion et impression des carte QRCode, carte RFID , empreinte digital,. Nous avons réaliser des application de réconnaisance faciale</p>
        </div>

      </div>
    </div>
  </section>
  <!-- end servie -->

  <!-- start portfolio -->

  <!-- end portfolio -->

  <!-- start contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s"><span>KINGA</span> CONTACT </h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-offset="50" data-wow-delay="0.9s">
          <form action="#" method="post">
            <label>NOM</label>
            <input name="fullname" type="text" class="form-control" id="fullname">

            <label>EMAIL</label>
            <input name="email" type="email" class="form-control" id="email">

            <label>MESSAGE</label>
            <textarea name="message" rows="4" class="form-control" id="message"></textarea>

            <input type="submit" class="form-control">
          </form>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInRight" data-wow-offset="50" data-wow-delay="0.6s">
          <address>
            <p class="address-title">NOTRE ADRESSE</p>
            <span> .</span>
            <p><i class="fa fa-phone"></i> +261 34 19 819 72</p>
            <p><i class="fa fa-envelope-o"></i> contact&#x40;kinga-digital.com </p>
            <p><i class="fa fa-map-marker"></i> Meuble Blache Tsiadana Ankatso ANTANANARIVO </p>
          </address>
          <ul class="social-icon">
            <li><h4>KINGA SOCIAL</h4></li>
            <li><a href="https://www.facebook.com/kinga-digital" class="fa fa-facebook"></a></li>
            <li><a href="https://www.twitter.com/kinga-digital" class="fa fa-twitter"></a></li>
            <li><a href="https://www.instagram.com/kinga-digital" class="fa fa-instagram"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact -->

  <!-- start copyright -->
  <footer id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="wow bounceIn" data-wow-offset="50" data-wow-delay="0.3s">
            Copyright &copy; 2022 KINGA DIGITAL</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- end copyright -->


  <div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

  </div>
